<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{this.taskName}}</h5>
        <div>Date: {{this.date}}</div>
        <div>Status:
            {{this.status}}
                {{#switch this.status}} 
                    <span class="badge badge-info">{{#case '1'}} New {{/case}} </span>
                    <span class="badge badge-warning">{{#case '2'}} In Progress {{/case}} </span>
                    <span class="badge badge-success">{{#case '3'}} Completed {{/case}} </span>
                    <span class="badge badge-dark">{{#default '4'}} N/A {{/default}}</span>
                {{/switch}}
        </div>
        <div>Description: {{this.description}}</div>
        <hr>
        <a class="btn btn-dark" href="/">Back</a>
    </div>
</div>