<div class="row">
    <div class="col-3" *ngFor="let product of products">
        <div class="card mb-3">
            <h3 class="card-header">{{ product.category | firstUpper }}</h3>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle text-muted">{{ product.subTitle }}</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" [src]="product.image" alt="Card image" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item overflow ellipsis">
                    {{ product.description }}
                </li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary " (click)="addToCart(product.id)">Add to cart</button>
                <button type="button" (click)="goProduct(product.id)" class="btn btn-outline-primary float-right">
            View
          </button>
            </div>
        </div>
    </div>
</div>