<div style="min-height: 100vh;background-color: #EBEBEB;">
  <section class="py-3">
    <div class="container">
      <carousel>
          <slide>
            <img src="assets/3.jpg" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="assets/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="assets/1.jpg" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
        </carousel>
  </div>
  </section>
  <section class="home container py-3">
  
      <img width="50" src="../../../assets/pizzahutLogo-en.png" alt="">
      <h2 class="my-2" style="text-transform: uppercase;">try our new pizza hut</h2>
      <p>Introducing the all new “Pizza hut Egypt” app for <br> easy ordering and great exclusive deals. </p>
  </section>
</div>
  <footer style="background-color: #202020;" class="fixed-bottom py-3 text-white d-flex justify-content-center align-items-center text-center">
  <div class="container">
    <p class="m-0">© 2021 Pizza Hut Restaurants LLC. Featured products available at participating locations only. All rights reserved. Terms &amp; Conditions apply.</p>
  </div>
  </footer>