<div class="container">
  
    <h2 *ngIf="categories.length==0">there are no categories</h2>
    <ng-container  *ngIf="categories.length">
  
    
    
    <mat-form-field class="scroll w-100 my-4"  appearance="fill" >
      <mat-select  (selectionChange)="selectCategory($event.value)" [(value)]="selected"  class="scroll"  >
        <mat-option [value]="category.name" *ngFor="let category of categories">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
      <div class="d-flex  align-items-center mb-5">
        <h2 style="font-size: 50px;" class="mr-3 mb-0 categoryName">{{selectedCategory.name | titlecase}}:</h2>
        <i class="fas fa-trash-alt m-0" style="font-size: 20px;" (click)="openModal(deletecategory)"></i>
        <ng-template #deletecategory>
    
          <div class="modal-body text-center">
            <h2 class="text-secondary">
              <!-- Are you sure you want to remove this category ? -->
              This function has been disabled to preserve the database
            </h2>
            <div class="d-flex justify-content-center">
              <!-- <button class="btn btn-secondary mr-3" (click)="modalRef.hide()">DISMISS</button>
              <button class="btn btn-success" (click)="deleteCategory(selectedCategory._id);modalRef.hide()">CONFIRM</button> -->
              <button class="btn btn-success" (click)="modalRef.hide()">Okay</button>
            </div>
            <div class="text-center" *ngIf='loading'>
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="my-4">
        <input type="text" [(ngModel)]="searchValue" placeholder="search....." class="form-control">
      </div>
      <div class="row">
        <ng-container *ngFor="let product of selectedCategory.products | search : searchValue ;let i = index">
          <div class="col-md-4 mb-5">
            <div>
            <div class="text-center ">
              <img style="height: 170px;" [src]="product.image" alt="" class="img-fluid mb-4">
            </div>
              <h3 class="font-weight-bold my-2">{{product.name }}</h3>
              <p class="text-secondary">{{product.descripition | text : seeMoreIndex : i}}
                <span *ngIf="product.descripition.length > 3" style="cursor:pointer" class="text-danger"
                  (click)="seeMoreIndex = seeMoreIndex == i ? -1 : i">{{seeMoreIndex == i ? "less"
                  : "more...."}}</span>
              </p>
              <p>{{product.price | currency}}</p>
              <accordion *ngIf="product.sizes.length" class="my-3" [isAnimated]="true">
                <accordion-group heading="Sizes">
                  <ng-container *ngFor="let size of product.sizes ">
                    <div class=" my-4">
                      <p>  <span class="font-weight-bold">product size:</span> {{size.size}}</p>
                      <p><span class="font-weight-bold">size price:</span> {{size.price | currency}}</p>
                    </div>
                  </ng-container>
    
                </accordion-group>
    
              </accordion>
              <accordion *ngIf="product.toppings.length" class="my-3" [isAnimated]="true">
                <accordion-group heading="Toppings">
                  <ng-container *ngFor="let topping of product.toppings ">
                    <div  *ngFor="let size of topping.sizes" class="my-4">
    
                      <p> <span class="font-weight-bold">topping name : </span> {{topping.topping}}</p>
                      <p> <span class="font-weight-bold">topping price : </span> {{size.price | currency}}</p>
                    </div>
                  </ng-container>
    
                </accordion-group>
    
              </accordion>
    
              <accordion *ngIf="product.specialsAdditions.length" class="my-3" [isAnimated]="true">
               
                <accordion-group heading="special Additions">
                  <ng-container *ngFor="let specialsAddition of product.specialsAdditions ">
                    <div>
                      <p><span class="font-weight-bold">addition name:</span> {{specialsAddition.addition}}</p>
                      <div class="d-flex " *ngFor="let size of specialsAddition.sizes">
                        <p class="font-weight-bold mr-2"> {{size.size}} </p>
                        <p>{{size.price | currency}}</p>
                      </div>
                      <hr>
                    </div>
                  </ng-container>
    
                </accordion-group>
    
              </accordion>
          
              <ng-template #template>
    
                <div class="modal-body text-center">
                  <h2 class="text-secondary">
                    <!-- Are you sure you want to remove this product ? -->
                    This function has been disabled to preserve the database
                  </h2>
                  <div class="d-flex justify-content-center">
                    <!-- <button class="btn btn-secondary mr-3" (click)="modalRef.hide()">DISMISS</button>
                    <button class="btn btn-success" (click)="deleteProduct(product._id,selectedCategory.products.length,selectedCategory._id,selectedCategory.name);modalRef.hide()">CONFIRM</button> -->
                    <button class="btn btn-success" (click)="modalRef.hide()">Okay</button>
                  </div>
                  <div class="text-center" *ngIf='loading'>
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>
              </ng-template>
              <button class="btn btn-primary mr-3" 
              (click)="openModal(deletecategory)"
              >update</button>
              <i class="fas fa-trash-alt" style="font-size: 20px;" (click)="openModal(template)"></i>
              <!-- (click)="updateProduct(product._id,product.category)" -->
            </div>
    
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  
  