.navbar {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100000;
  transition: all 1s;
}
.bg-e0e1dd {
  background: #051024 !important;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  font-size: large;
  letter-spacing: 2.5px;
  transition: all 0.5s;
  color: #fff !important;
}
.active {
  color: #66b39a !important;
}
.navbar-brand {
  color: #fff;
  font-weight: 900;
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar-brand span {
  color: #66b39a !important;
}
.fa-align-justify {
  display: none;
  color: #fff;
  position: absolute;
  right: 50px;
  transform: rotate(180deg);
  z-index: 1000;
}
.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
footer div ul {
  display: flex;
  justify-content: center;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: linear-gradient(to right, #66b39a 50%, silver 70%);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/********************************/
footer {
  width: 100%;
  background-color: #051024;
  padding: 20px;
}
.div-footer {
  width: 100%;
  display: flex;
  padding-left: 30px;
  padding-top: 5%;
}
.contant p {
  color: #999999;
}
.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contant li {
  list-style: none;
  color: #999999;
}
.fas , .fab{
  color: #66b39a;
}
.div-copyright {
  color: silver;
  width: 100%;
  border-top: #084936 solid 1px;
  padding-top: 20px;
}
h4
{
  color: #fafafa;
}
/***************LOADING***********************/

.bg-sk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #051024;
  z-index: 99999999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.spinner {
  margin: 100px auto 0;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #66b39a;
  margin: 5px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/******************************************/

@media (max-width: 992px) {
  .fa-align-justify {
    display: block;
    cursor: pointer;
  }
  .div-collapse {
    padding: 80px;
    background: linear-gradient(to top right, #084936 10%, #051024 60%);
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 576px) {

  .contact
  {
    margin-left: 30px;
  }

}

