<div >
    <h4 class="font-weight-bold">Basic Details</h4>
    <div class="d-md-flex">
        <h5 class="font-weight-bold mr-5">{{authservice.userProfile?.profile?.firstName}}</h5>
        <h5 class="font-weight-bold">{{authservice.userProfile?.profile?.lastName}}</h5>
    </div>
    <div class="d-md-flex my-2">
        <h5 class="font-weight-bold mr-5">{{authservice.userProfile?.profile?.phoneNumber}}</h5>
        <h5 class="font-weight-bold">{{authservice.userProfile?.profile?.email}}</h5>
    </div>
</div>