<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="/images/Apple iPhone X with FaceTime - 64GB, 4G LTE, Space Grey.jpg" class="card-img-top" alt="...">
    </div>
  <div class="card-body">
    <h5 class="card-title">Apple iPhone X</h5>
    <p class="card-text">
        Stroage Capacity: 64GB <br>
        Number Of SIM: Dual SIM <br>
        Rear Camera Resolution: 16MP <br>
        Display Size (Inch): 6.5 Inch</p>
    <div>
        <div class="price float-left">$ 220</div>
        <a href="#" class="btn btn-success float-right">Buy</a>
    </div>
  </div>
</div>
    </div>
</div>