.container {
    padding-top: 20px;
}

.card img {
    max-width: 42%;
    max-height: 200px;
    padding-top: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.row {
    padding-top: 20px;
}