<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="/assets/logo-nav.png" width="100" height="30" class="d-inline-block align-top" alt="" /> {{ title }}
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/events']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>