h4 {margin: 0;padding: 15px 0;}
p {
    color:#8a8a8a;
    font-weight: bold;
    
   
}
.brdr:not(:last-of-type) {border-bottom: 1px solid #efebeb; padding-bottom: 5px;margin-bottom: 10px;}
.ordersImage img
{
    width:50%
}
@media only screen and (max-width: 992px) {
    .ordersImage img
    {
        width:100%
    }
}
